body{
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20%;
    font-family: monospace;
    font-size: 1.1rem;
    background-color: #000;
    color: #fff;
}
ul{
    line-height: 2rem;
}

a:link, a:visited{
    color: white;
}
